[submodule "blood-sheltie/Mantle"]
	path = blood-sheltie/Mantle
	url = git@github.com:alexandre-normand/Mantle.git
[submodule "Mantle"]
	path = Mantle
	url = git@github.com:alexandre-normand/Mantle.git
